@import "tailwindcss";

@theme {
  --color-brand-bg: #F9FAFB;
  --color-brand-white: #FFFFFF;
  --color-brand-text: #1A1A1A;
  --color-brand-border: #E5E7EB;
  --color-brand-primary: #007185;
  --color-brand-accent: #FFB400;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
  }
}
